 @font-face { 
  font-family: Catull; 
  src: url('../fonts/Catull.ttf'); 
} 

.main-page-title {
  font-family: Catull, sans-serif;
  font-size: 30px;
}

.search-bar-container {
  text-align: center;

}

.small-lead{
  font-size: 16px;
}

.search-field {
  padding: 15px 10px;
  line-height: 18px;
  width: 300px;
}

.search-submit {
  padding: 15px 10px;
  line-height: 18px;
  width: 100px;
}

.panel-mycolor .panel-heading{
  background-color: SteelBlue;
}

.listing-image {
  width: 100px;
  height: auto;
}

.col.col-sm-4 {
  max-height: 320px;
}

.search-container {
  margin: 10px;
  text-align: center;
}

.search-container {
  margin-bottom: 30px ;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.listing-image {
  width: 300px;
}


.make-offer {
  clear: both;
  padding-top: 10px;
}

.title {
  margin-right: 65%;
  margin-left: 50%;
}

/*Logins*/
.login-header {
  float: right;
  width: 10%;
  margin-top: -3%;
}

.login-btn {
  float: right;
  display: block;
  padding: 5px;
  margin: 3px 3px;
}

.login-btn a {
  color: #d0d0d0;
}

.login-form {
  margin-left: 15%;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 20px;
}

.ul-login{
  float: right;
}

.login-btn {
  margin-left: 36%;
}

td.delete {
  border: none !important;
}

table.table.table-bordered {
  border-right: none;
  border-bottom: none;
}

.offer_description {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

.offer_description_container {
  padding: 5px;
}
