 @font-face { 
  font-family: Catull; 
  src: url('../fonts/Catull.ttf'); 
} 

.main-page-title {
  font-family: Catull, sans-serif;
  font-size: 30px;
}

.search-bar-container {
  text-align: center;

}

.small-lead{
  font-size: 16px;
}

.search-field {
  padding: 15px 10px;
  line-height: 18px;
  width: 300px;
}

.search-submit {
  padding: 15px 10px;
  line-height: 18px;
  width: 100px;
}

.panel-mycolor .panel-heading{
  background-color: SteelBlue;
}

.product-image {
  width: 100px;
  height: auto;
}

.col.col-sm-4 {
  max-height: 320px;
}

.search-container {
  margin: 10px;
  text-align: center;
}

.search-container {
  margin-bottom: 30px ;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}


