
  <div class="search-container row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="I want to sell ..." ng-model="queryTerm">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-sm-6 -->
    <div class="col col-sm-3"></div>
  </div>

<div class="row vcenter">
  <div class="col col-sm-4" ng-repeat="listing in listings | filter: queryTerm">
    <div class="thumbnail text-center">
      <img class="listing-image img-responsive" ng-src="{{ listing.image_url }}">
      <div class="caption">
        <h3>{{ listing.name }}</h3>
        <h6>{{listing.category}}</h6>        
        <p>{{ listing.description }}</p>
        <p><a ui-sref="main.offers({listingId: listing.listing_id})" class="btn btn-default" role="button">Bid: <strong>{{ listing.max_price | currency }}</strong></a></p>
        <p><a ui-sref="main.offers({listingId: listing.listing_id})" class="btn btn-primary" role="button">Sell now: <strong>{{ listing.accept_price | currency }}</strong></a></p>
        <p> </p>
      </div>
    </div>
  </div>
</div>
