
<!-- <h1>{{ datetime | date:'mediumTime' }}</h1>
 -->


<div class="row vcenter">
  <div class="col col-sm-4" ng-repeat="listing in listings | filter: queryTerm">
    <div class="thumbnail text-center">
      <img class="listing-image img-responsive" ng-src="{{ listing.image_url }}">
      <div class="caption">
        <h3>{{ listing.name }}</h3>
        <p>{{ listing.description }}</p>
        <p><a href="#" class="btn btn-default" role="button">Bid: <strong>{{ listing.base_price | currency }}</strong></a></p>
        <p><a href="#" class="btn btn-primary" role="button">Sell Now: <strong>{{ listing.accept_price | currency }}</strong></a></p>
        <p> </p>
      </div>
    </div>
  </div>
</div>
