
<!-- <h1>{{ datetime | date:'mediumTime' }}</h1>
 -->

<!-- <p ng-if="userInfo.userId"> User logged</p>
<p ng-if="!userInfo.userId"> Log in</p>
 -->

<div ui-view="login"></div>
<div ui-view="listings"></div>
<div ui-view="myoffers"></div>
<div ui-view="mylistings"></div>
<div ui-view="profile"></div>
<div ui-view="newuser"></div>
<div ui-view="newlisting"></div>
<div ui-view="offers"></div>
<div ui-view="listing-details"></div>
<div ui-view="offer"></div>
<div ui-view="comments"></div>
<div ui-view="test"></div>