
 <section>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
          Product Title <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='expires_at'; reverseSort = !reverseSort">
            Ending <span ng-show="orderByField == 'expires_at'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='max_price'; reverseSort = !reverseSort">
          Price <span ng-show="orderByField == 'max_price'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="offer in offers|orderBy:orderByField:reverseSort">
        <td><a href="#/offers/{{offer.id}}">{{offer.name}}</a></td>
        <td>{{countDown(offer.expires_at)}}</td>
        <td>{{offer.max_price | currency}}</td>
      </tr>
    </tbody>
  </table>
</section>