
<!-- <h1>{{ datetime | date:'mediumTime' }}</h1>
 -->

<div class="row vcenter">
  <div class="col col-sm-4" ng-repeat="product in products">
    <div class="thumbnail text-center">
      <img class="product-image img-responsive" ng-src="{{ product.image_url }}">
      <div class="caption">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p><a href="#" class="btn btn-default" role="button">Bid: <strong>{{ product.base_price | currency }}</strong></a></p>
        <p><a href="#" class="btn btn-primary" role="button">Sell Now: <strong>{{ product.accept_price | currency }}</strong></a></p>
        <p> </p>
      </div>
    </div>
  </div>
</div>
