
  <ul class="nav nav-pills nav-justified">
	  <li><a ui-sref="listings" class="lead small-lead"><span class="glyphicon glyphicon-search"></span> MarketPlace</a></li>
	  <li><a ui-sref="listings.newUser" class="lead small-lead"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
	  <li><a ui-sref="listings.newListing" class="lead small-lead"><span class="glyphicon glyphicon-align-center"></span> Listings</a></li>
	  <li><a href="#" class="lead small-lead"><span class="glyphicon glyphicon-shopping-cart"></span> Offers</a></li>
  </ul>


 