
  <ul class="nav nav-pills nav-justified">
	  <li><a ui-sref="listings" class="lead small-lead"><span class="glyphicon glyphicon-search"></span> MarketPlace</a></li>
	  <li><a ui-sref="listings.profile" class="lead small-lead"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
	  <li><a ui-sref="listings.newListing" class="lead small-lead"><span class="glyphicon glyphicon-align-center"></span> My Listings</a></li>
	  <li><a href="#" class="lead small-lead"><span class="glyphicon glyphicon-shopping-cart"></span> My Offers</a></li>
  </ul>

  <br>


 