<div class="container">
  <div class="row">

    <div class="col-sm-8 col-sm-offset-1" >


      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Name</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" class="img-thumbnail img-responsive img-circle" src="https://s-media-cache-ak0.pinimg.com/originals/cc/17/70/cc1770ff2a070b998e6812dd7c3ba77d.jpg" class="img-circle"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>{{ name }}</td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td>{{ email }}</td>
                      </tr>
                      <tr>
                        <td>Rating:</td>
                        <td>{{ rating }}</td>
                      </tr>

                      <tr>
                       <tr>
                        <td>Member Since:</td>
                        <td>{{ created_at }}</td>
                      </tr>
                      <tr>
                        <td>Most Recent Activity:</td>
                        <td>{{ updated_at }}</td>
                      </tr>
                      <td>Bio:</td>
                      <td>{{ bio }}</td>

                    </tr>

                  </tbody>
                </table>

                <a href="#" class="btn btn-primary">My Listings</a>
                <a href="#" class="btn btn-primary">My Offers</a>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            <span class="pull-right">
              <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
              <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
            </span>
          </div>

        </div>
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
         <A href="edit.html" >Edit Profile</A>

         <A href="edit.html" >Logout</A>
         <br>
         <p class=" text-info">May 05,2014,03:00 pm </p>
       </div>
     </div>
   </div>
 </div>